*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: default; 
}

.form-container {
    background-color: rgb(43, 43, 43);
    min-height: 600px;
    max-height: 600px;
    max-width: 400px;
    min-width: 400px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em; 
    padding: 1.5em; 
}

.login-header {
    line-height: 1.5;
    font-size: 2.5em;
}

.input-header {
    font-size: 1em; 
    margin-bottom: 75px;
}

.input-field {
    line-height: 1.5;
    border: 1px solid transparent; 
    border-radius: 5px;
    background-color: #242424;
    outline: 1px solid transparent; 

    font-size: .75em;
    width: 200px;  
    padding: 5px; 
    height: 35px; 
    transition: border-color 0.25s; 

    cursor: text; 
}

.input-field:hover {
    border-color: #646cff; 
}

.input-field:focus {
    border-color: #646cff; 
}

.confirm-btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 6.75em;
  font-size: .75em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.confirm-btn:disabled:hover {
    border-color: transparent;
}

.confirm-btn:hover {
    border-color: #646cff; 
}

.confirm-btn:focus, button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color; 
}

#signin-btn {
    margin-top: 25px;
}

.login-header span {
    color: #646cff; 
}

.error-container {
    padding: 1.5em; 
    width: 200px; 
}

.error-msg {
    color: red; 
    font-size: .75rem;
}

.choice-container {
    width: 200px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .75rem; 
}

.choice-container button {
    background-color: transparent;
    border: transparent; 
}

.choice-container button:hover {
    color: #646cff; 
    cursor: pointer; 
}

.otp-container {
    width: 200px; 
    border: 1px solid red; 
}

.hidden {
    display: none;
}